body {
    background-color: beige
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif
    font-size: 60px;
    color: black;
    font-style: oblique;
}

h2 {
    font-style: oblique;
    color: rebeccapurple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
}
<<<<<<< HEAD

h3 {
    font-style: oblique
    font-size: 30
    font-family: "Comic Sans MS", cursive, sans-serif
}

=======
>>>>>>> 0e09a315db8b20f511f7b7f958a7eee5df8b3583
