body {
    background-color: beige
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif
    font-size: 60px;
    color: black;
    font-style: oblique;
}

h2 {
    font-style: oblique;
    color: rebeccapurple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
}

h3 {
    font-style: oblique
    font-size: 30
    font-family: "Comic Sans MS", cursive, sans-serif
}

